VITE_SUPABASE_URL=https://eyqielvcbbehegqqkwlp.supabase.co
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV5cWllbHZjYmJlaGVncXFrd2xwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0MjA5OTcsImV4cCI6MjA5Mjk5Njk5N30.DGu5RDw4KEQpzCoujcK0XIyYbD7ArMuGyKSbZF9JZSo"
